{% extends 'base.html.twig' %}
{% block body %}
    <p>liste des personnes:</p>
    {% for people in peoples %}
        <p>{{ people.firstname }}</p>
        <p>{{ hobbies.name }}</p><br>
    {% endfor %}
{% endblock %}